<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <script src="https://use.fontawesome.com/10dc0a4223.js"></script>
</head>
<body>
  
  <div id='container'>
    <div class='arrow-up'></div>
    <header id ='brutal_header'>
      
       <br>
    
      <h1>{{title}}</h1>
    </header>
    <div id ='triangle'>
        <icon id="eye" class="fas fa-eye"></icon>
       <img src='https://d30y9cdsu7xlg0.cloudfront.net/png/153732-200.png' id='burg' width='100' height='100' />
     </div>
    <br>

    <!-- Submit a burger -->
    <form action='/burgers' method='POST' id='sub_burger' style='margin-bottom: 2%;'>
      <input type='text' id='input_burger' name='burger_name' placeholder='What would you like?'></input>
      <input type='submit' id='submit_btn'></input>
    </form>

    <!-- Eat a burger -->
    <div id='burgers'>
      <h3>Menu</h3>
      <hr>
      {{#each burgers}}
        {{#unless this.devoured}}
          <form action='/burgers/{{this.id}}?_method=PUT' method='POST'>
            <div class='available'>{{this.burger_name}} <button id='devour'>Devour</button></div>
          </form>
        {{/unless}}
      {{/each}}
    </div>

    <!-- Burgers eaten -->
    <div id='devoured'>
      <h3>Eaten</h3>
      <hr>
      {{#each burgers}}
        {{#if this.devoured}}
          <div class='devoured'>{{this.burger_name}}</div>
        {{/if}}
      {{/each}}
    </div>
  </div>
  
  <div id ='copyright'>
  <small><strong>site by bloom.510 :</strong></small>
  <a href='https://github.com/wildcat510' target='_blank'><icon class="fab fa-github"></icon></a>
  <a href='https://linkedin.com/in/bloom510' target='_blank'><icon class="fab fa-linkedin-square"></icon></a>
  <a href='https://instagram.com/bloom.510' target='_blank'><icon class="fab fa-instagram"></icon></a>
  <a href='https://bloom510.tumblr.com' target='_blank'><icon class="fab fa-tumblr-square"></icon></a>
  </div>
<script>
//append new hrs width decreasing by 15 percent until zero
for(let pct = 0; pct < 85; pct += 5){
  let hr = `<hr style='width:${pct}%';>`;
  document.getElementById("triangle").innerHTML += hr;
} 
// for(let pct = 85; pct > 0; pct -= 5){
//   let hr = `<hr style='width:${pct}%';>`;
//   document.getElementById("triangle").innerHTML += hr;
// } 
</script>
</body>
</html>